trigger:
  - master
    
pool:
  vmImage: 'vs2017-win2016'

variables:
  status: 'fail'

steps:
- checkout: self
  persistCredentials: "true"

- powershell: (new-object System.Net.WebClient).DownloadFile('http://www.nespowerpak.com/nesasm/NESASM3.zip','NESASM3.zip')
  displayName: 'Download NESASM3 for Windows'

- task: ExtractFiles@1
  displayName: 'Extract files'
  inputs:
    archiveFilePatterns: NESASM3.zip
    destinationFolder: NESASM3

# - task: Bash@3
#   displayName: 'Remove existing screenshot if present.'
#   inputs:
#     targetType: 'inline'
#     script: 'rm build/screenshot.png'
#   condition: not(contains(variables['Build.SourceVersionMessage'], '[skip ci]'))
#   continueOnError: true

- task: CmdLine@2
  displayName: 'Assemble source file (.NES ROM)'
  inputs:
    script: 'cd D:\a\1\s\game && D:\a\1\s\NESASM3\NESASM3.exe D:\a\1\s\game\test.asm'

- task: Bash@3
  displayName: 'Check assembly status'
  inputs:
    targetType: 'inline'
    script: |
      result=$(cd D:/a/1/s/game && D:/a/1/s/NESASM3/NESASM3.exe D:/a/1/s/game/test.asm | grep error)
      echo $result
      echo "##vso[task.setvariable variable=status]$result"

- task: Bash@3
  displayName: 'Fail build only if assembly fails'
  inputs:
    targetType: 'inline'
    script: exit 1
  condition: contains(variables['status'], 'error')

- powershell: (new-object System.Net.WebClient).DownloadFile('https://downloads.sourceforge.net/project/fceultra/Binaries/2.2.3/fceux-2.2.3-win32.zip?r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Ffceultra%2Ffiles%2FBinaries%2F2.2.3%2Ffceux-2.2.3-win32.zip%2Fdownload&ts=1559878465','FCEUX.zip')
  displayName: 'Download FCEUX for Windows'

- task: ExtractFiles@1
  displayName: 'Extract files'
  inputs:
    archiveFilePatterns: FCEUX.zip
    destinationFolder: build/fceux
    cleanDestinationFolder: false

- powershell: Start-Process D:\a\1\s\build\fceux\fceux.exe "-lua D:\a\1\s\build\screenshot.lua D:\a\1\s\game\test.nes"
  displayName: 'Run FCEUX'

- task: Bash@3
  displayName: 'Confirm screenshot was created'
  inputs:
    targetType: 'inline'
    script: sleep 15 && cd D:/a/1/s/build && ls && cat screenshot.png

- task: Bash@3
  displayName: 'Configure git'
  inputs:
    targetType: 'inline'
    script: git config user.email "partytimehexcellent@gmail.com" && git config user.name "NES Build Pipeline"

- task: Bash@3
  displayName: 'Remove FCEUX and NESASM3 if present'
  inputs:
    targetType: 'inline'
    script: 'rm NESASM3.zip FCEUX.zip build/fceux/7z.dll build/fceux/auxlib.lua build/fceux/fceux.chm build/fceux/fceux.exe build/fceux/lua5.1.dll build/fceux/lua51.dll build/fceux/taseditor.chm && rm -rf build/fceux/luaScripts/ build/fceux/palettes/ build/fceux/tools/ NESASM3 && ls && cd build && ls'

- task: Bash@3
  displayName: 'Update readme.md'
  inputs:
    targetType: 'inline'
    script: |
      current_date=echo `date +"%D %T"`
      sed 's/Screenshot/Screenshot current as of/' readme.md
      sed a $current_date readme.md
  continueOnError: true

- task: Bash@3
  displayName: 'Push ROM, screenshot, and README back to branch'
  inputs:
    targetType: 'inline'
    script: cd D:/a/1/s/ && ls && git add --all && git commit -m "Adds latest ROM, screenshot, and README from build pipeline." && git push origin HEAD:master
  continueOnError: true